<div *ngIf="onEnterRegisterData" style="text-align:center">
  <h3>
    Please, enter you register data:
  </h3>
  <form style="display: flex; flex-direction: column;  align-items: center;" (ngSubmit)="onRegister()">
    <input [(ngModel)]="phone" type="text" name="phone" placeholder="Phone Number" style="margin-bottom: 10px"/>
    <input [(ngModel)]="password"  type="password" name="password" placeholder="Password" style="margin-bottom: 10px"/>
    <button (click)="onRegister()" type="button" name="button">Submit Data</button>
  </form>
</div>
<div *ngIf="onEnterCode" style="text-align:center">
  <h3>
    Please, enter code, received via SMS:
  </h3>
  <form style="display: flex; flex-direction: column;  align-items: center;" (ngSubmit)="onConfirmCode()">
    <input [(ngModel)]="code" type="text" name="code" placeholder="Confirmation code" style="margin-bottom: 10px"/>
    <button (click)="onConfirmCode()" type="button" name="button">Confirm</button>
  </form>
</div>
<div *ngIf="onSuccess" style="text-align:center">
  <h3>
    You've successfully registered in system!
  </h3>
</div>
